log/
tmp/
config/roles/
public/images/patient_id.png
public/images/baby_id.png
nbproject/
*.swap
*.yml
script/analyze_protocol
script/clean
config/database.yml
config/application.yml
*~
public/analyze_protocol
config/protocol_task_flow.yml
