<div style="width: 100%; padding-top: 120px; text-align: center;">
  <%if params[:message].blank?%>
    <h1>Baby Not Admitted In Kangaroo Ward</h1>

  <%else%>
    <h1><%= params[:message].titleize rescue "Error"  %>!</h1>
  <%end%>

  <br />
  <br />
  <br />
  <br />
  <br />
  <a href="/patients/show/<%= session[:baby_id] %>?user_id=<%= (params[:user_id] || session[:user_id])%>&autoflow=<%= params[:autoflow]%>" style="font-size: 3em;">Back</a>
</div>
