<div style="width: 100%; padding-top: 120px; text-align: center;">
  <h1>Sorry, baby not admitted in Nursery or Kangaroo ward!</h1>

  <br />
  <br />
  <br />
  <br />
  <br />
  <a href="<%= request.referrer%>" style="font-size: 3em;">Back</a>
</div>
