<div style="width: 100%; padding-top: 120px; text-align: center;">
  <% if params[:message] %>
    <h1><%= params[:message].humanize %>!</h1>
  <%else%>
    <h1>Sorry, System location allows older patients!</h1>
  <%end%>
  <br />
  <br />
  <br />
  <br />
  <br />
  <a href="<%= params[:return_ip] %>" style="font-size: 3em;">Back</a>
</div>