<div style="width: 100%; padding-top: 120px; text-align: center;">
  <h1>Sorry, System location meant for the aged!</h1>
  <br />
  <br />
  <br />
  <br />
  <br />
  <a href="<%= params[:return_ip] %>" style="font-size: 3em;">Back</a>
</div>