<link href='/stylesheets/dispense.css' type='text/css' rel='stylesheet' />

<link href='/stylesheets/drug-style.css' type='text/css' rel='stylesheet' />

<script type='text/javascript' src='/javascripts/dispense.js' ></script>

<script type='text/javascript' src='/javascripts/generics.js' ></script>

<script type='text/javascript' language='javascript'>
<!--
	tt_cancel_show = '/patients/show/<%= @patient.id %>?user_id=<%= session[:user_id] %>';
	tt_cancel_destination = '/patients/show/<%= @patient.id %>?user_id=<%= session[:user_id] %>';
	</script>

<form method='post' action='/encounters/create'>
	<input type='hidden' name='program' value='MATERNITY PROGRAM' />
	<input type='hidden' name='encounter_type' value='Dispensing ' />
	<input type='hidden' name='patient_id' value='<%= @patient.id %>' />
	<input type='hidden' name='user_id' value='<%= session[:user_id] %>' />
	<table>
		<tr>
			<td>
				Treatment 
			</td>
			<td>
<input type='text' id='1.1.1'  name='concept[Treatment ]' helpText='Treatment '  tt_pageStyleClass='NoControls'  optional='true'  pos='0'  tt_onLoad='generateGenerics(<%= @patient.id %>); showCategory("Give Drugs"); __$("category").style.fontSize = "30px";  tt_onUnLoad' />
			</td>
		</tr>
	</table>
</form>
