---
development:
  project.name: Maternity
  user.management.url: http://localhost:3004
  birth_registration_url: http://localhost:4002/people/import_baby
  demographic.fields: Current Village,Current T/A,Current District,Nationality,Home of Origin,Nationality
  facility.name: Bwaila Maternity Wing
  district.name: Lilongwe
  patient.registration.url: http://localhost:3005
  extended_diagnoses_report: false
  assign_serial_numbers: true
  report.zoom.percentage: 80
production:
  project.name: Maternity
  user.management.url: http://localhost:3004
  birth_registration_url: http://localhost:4002/people/import_baby
  facility.name: Bwaila Maternity Wing
  district.name: Lilongwe
  patient.registration.url: http://localhost:3005
  extended_diagnoses_report: false
  assign_serial_numbers: true
  report.zoom.percentage: 80
test:
  project.name: Maternity
  user.management.url: http://localhost:3004
  birth_registration_url: http://localhost:4002/people/import_baby
  facility.name: Test Centre
  district.name: Lilongwe
  patient.registration.url: http://localhost:3005
  extended_diagnoses_report: false
  assign_serial_numbers: true
  report.zoom.percentage: 80