---
production:
  facility.name: Bwaila Maternity Wing
  birth_registration_url: http://localhost:4002/people/import_baby
  assign_serial_numbers: true
  user.management.url: http://localhost:3004
  report.zoom.percentage: 100
  patient.registration.url: http://localhost:3005
  extended_diagnoses_report: true
  project.name: Maternity
  district.name: Lilongwe
development:
  facility.name: Bwaila Maternity Wing
  birth_registration_url: http://localhost:4002/people/import_baby
  assign_serial_numbers: true
  user.management.url: http://localhost:3004
  report.zoom.percentage: 100
  patient.registration.url: http://localhost:3005
  demographic.fields: Maiden Name,Landmark or Plot,Cell Phone Number,Current T/A,Current District,Nationality,Current Village,Current T/A,Current District,Nationality
  extended_diagnoses_report: true
  project.name: Maternity
  district.name: Lilongwe
  art.link: localhost:4000
test:
  facility.name: Test Centre
  birth_registration_url: http://localhost:4002/people/import_baby
  assign_serial_numbers: true
  user.management.url: http://localhost:3004
  report.zoom.percentage: 80
  patient.registration.url: http://localhost:3005
  extended_diagnoses_report: false
  project.name: Maternity
  district.name: Lilongwe
