
production:
  clinical.encounters.sequential.list: UPDATE OUTCOME MUM,ADMIT PATIENT,BABY DELIVERY COUNT,ADMIT BABY,KANGAROO REVIEW VISIT,UPDATE BABY OUTCOME
  scope: UPDATE BABY OUTCOME|,ADMIT BABY|,KANGAROO REVIEW VISIT|,UPDATE OUTCOME MUM|,ADMIT PATIENT|,BABY DELIVERY|,BABY DELIVERY COUNT|
  label: ADMIT BABY|Admit baby,BABY DELIVERY COUNT|Baby Delivery Count,BABY DELIVERY|Baby Delivery,UPDATE OUTCOME MUM|Update Outcome Mum

development:
  clinical.encounters.sequential.list: UPDATE OUTCOME MUM,ADMIT PATIENT,BABY DELIVERY COUNT,ADMIT BABY,KANGAROO REVIEW VISIT,UPDATE BABY OUTCOME
  scope: UPDATE BABY OUTCOME|,ADMIT BABY|,KANGAROO REVIEW VISIT|,UPDATE OUTCOME MUM|,ADMIT PATIENT|,BABY DELIVERY|,BABY DELIVERY COUNT|
  label: ADMIT BABY|Admit baby,BABY DELIVERY COUNT|Baby Delivery Count,BABY DELIVERY|Baby Delivery,UPDATE OUTCOME MUM|Update Outcome Mum

test: &TEST
  clinical.encounters.sequential.list: UPDATE OUTCOME MUM,ADMIT PATIENT,BABY DELIVERY COUNT,ADMIT BABY,KANGAROO REVIEW VISIT,UPDATE BABY OUTCOME
  scope: UPDATE BABY OUTCOME|,ADMIT BABY|,KANGAROO REVIEW VISIT|,UPDATE OUTCOME MUM|,ADMIT PATIENT|,BABY DELIVERY|,BABY DELIVERY COUNT|
  label: ADMIT BABY|Admit baby,BABY DELIVERY COUNT|Baby Delivery Count,BABY DELIVERY|Baby Delivery,UPDATE OUTCOME MUM|Update Outcome Mum

