<script>
  tt_cancel_destination = "/clinic?user_id=<%= session[:user]['user_id'] %>&location_id=<%= session[:location_id] %>";
</script>
<form id='batch_limits' action="/clinic/create_batch">
 <%= text_field_tag("start_serial_number", nil, {:id => 'start', :field_type => 'number', :tt_PageStyleClass => 'NumbersOnly', :helpText => 'Start Serial Number'}) %> <br>
  <%= text_field_tag("end_serial_number", nil, {:field_type => 'number', :tt_OnLoad => "$('touchscreenInput' + tstCurrentPage).setAttribute('absoluteMin', $('start').value)", :id => 'end', :tt_PageStyleClass => 'NumbersOnly', :helpText => 'End Serial Number'})%><br>

  <%= submit_tag value="Submit"%>
</form>
